<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sam.blutoothsocketreceiver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".SuperScoutApplication"
        android:allowBackup="true"
        android:clearTaskOnLaunch="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Super Scout"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Super Scout"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FieldSetupPage"></activity>
        <activity android:name=".ScoutingPage"></activity>
        <activity android:name=".FinalDataPoints"></activity>
        <activity
            android:name=".SuperNotes"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".finalNotes"></activity>
    </application>

</manifest>